body {
    font-family: Arial, sans-serif;   
    color: rgb(255, 255, 255);                     
    text-align: center;
}

h1 {
    font-size: 40px;  
    margin-top: 30px;
}

h2 {
    margin-top: 20px;
}

input, select, textarea {
    margin-bottom: 15px;
}

button {
    margin-top: 20px;
}
